<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Shortly</title>
    <% if (process.env.NODE_ENV !== 'prod') { %>
    <%   include partials/headers.dev.ejs %>
    <% } else { %>
    <%   include partials/headers.prod.ejs %>
    <% } %>
  </head>

  <body>
    <h1>Shortly</h1>
    <%- body %>
  </body>
</html>
